# Folder to ignore
obsidian_notes/
paperasse/
empirical_web/
presentation/recording_seminaire1
propose/random_text
data/
R/graveyard/

# Files to ignore
*.jpg
*.log
*.blg
*.bbl
*.aux
*.toc
*.lot
*.lof
