# Folder to ignore
propose/
data/
seminaire1/*
/.history
results/*
/endmaster_notes

# Files to ignore
*.jpg
*.log
*.blg
*.bbl
*.aux
*.toc
*.lot
*.lof
*.rds
R/rencontre_dom_andrew.html
R/rencontre_dom_andrew.Rmd
Rmd/test_model.*
